/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
.topnav {
  background-color: #333;
  overflow: hidden;
  margin-bottom: 0;
  margin-top: 0px;
/*  height: 30px;*/ 
}
.button {
  background-color: #333;
  color: white;
  margin: 10px;
  padding-top: 20px;
  
}
.header {
  padding: 5px; 
  height: 50px; 
  background-color: darkgray; 
  color:white;
}
.container {
content:"";
display:table;
clear:both;      
  }
.black {
color:#fff!important;
background-color:#000!important
}
.right {
  text-align:right!important
}
.left {
  text-align:left!important
}
#right {
  text-align:right!important
}
#left {
  text-align:left!important
}
.large {
    border-radius:32px;
}
.center {
    text-align:center!important
}
.center {
    margin-right: auto;
    margin-left: auto
}
.jumbo{
font-size:64px!important
}
.padding16{
    padding-top:16px!important;padding-bottom:16px!important;
}
.padding32{
    padding-top:32px!important;padding-bottom:32px!important;
}
.padding64 {
    padding-top:64px!important;padding-bottom:64px!important;
}
/*.third{
    float:left;width:100%
}*/
.paddinglarge{
    padding:12px 24px!important; float:left;
}
/*.hoverRed{
    color:#fff!important;background-color:#f44336!important
}*/
.border{
    border:1px solid #ccc!important
}
.border-grey{
    border-color:#616161!important
}
.searchpad{
    margin-right: 10px;
}
table, th, td, tr {
border: 1px solid lightslategrey;
border-collapse: collapse;
/*align-content: center;*/
padding: 5px;
color:black;
border-spacing: 40px 10px;


}
th, td {
background-color:lightblue;
padding: 10px;
color:black
}
td{
    padding: 10px;
    color:black;
}
tr:hover{
    background-color:lightblue;
}
menu{
    background-color:lightblue;
    color: black!important
}

header {
/*    font-family: Times new roman, Helvetica, sans-serif;*/
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}
header{
    background-color:lightyellow 
}
body {background-color: coral;}
header, html, body, body div, span a {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
/*    background: transparent;*/
}
h1 {
    padding-left: 480px;
}
food:hover{
    background-color: lightskyblue;
}
#food:hover{
    background-color: lightskyblue;
}
#menu {
  border-collapse: separate;
  background-color: lightseagreen!important
}
#option {
    background-color: lightblue;
    color:black!important
}
option:hover {
    background-color: lightblue;    
}
option{
    background-color: lightblue;    
}
a.option:link, a.option:visited {
/*  background-color: transparent;*/
  color: black;
/*  padding: 15px 25px;*/
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a.option:hover, a.option:active {
/*  background-color: blue;*/
  margin: 0px;
  padding: 0px;
  outline: 0;
  vertical-align: baseline;
      font-size: 100%;
          border: 0;
}
#stay{
    display: inline-block;
    float:left
       
}
#nav {
  background-color: grey;
}
.bannerpad{
padding-bottom: 32px;
}
.menubutton{
  background-color: lightblue;
  font-family: Arial, Helvetica, sans-serif;
  padding:20px;
}
p{
  color:white;
}